<div class="row">
    <div class="small-12 columns">
        <br>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 columns">
                <div class="panel">
                    <h5>{{app_title}}</h5>
                    <p>A sample Backbone Zurb Foundation app.</p>
                </div>
            </div>
        </div>
        <form>
            <div class="row">
                <div class="small-12 columns">
                    <input id="username" type="text" placeholder="username">
                    <input id="password" type="password" placeholder="password">
                </div>
            </div>
            <div class="row">
                <div class="small-3 small-centered columns">
                    <button type="button" id="btnlogin">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>